<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="store.myproject.onlineshop.mapper.CartItemMapper">

    <select id="findByCartPage" resultType="store.myproject.onlineshop.domain.cartitem.dto.CartItemResponse">
        SELECT
        i.item_uuid,
        i.item_name,
        i.thumbnail,
        i.item_price,
        ci.cart_item_cnt AS item_cnt
        FROM CartItem AS ci
        JOIN Item i ON i.item_id = ci.item_id
        <where>
            <if test="cartId != null">
                AND ci.cart_id = #{cartId}
            </if>
        </where>
    </select>


</mapper>
