<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="store.myproject.onlineshop.mapper.ItemMapper">
    <select id="searchItem" resultType="store.myproject.onlineshop.dto.item.SimpleItemDto">
        SELECT
            i.item_uuid AS uuid,
            i.item_name,
            i.item_price,
            i.thumbnail,
            b.brand_name
        FROM Item i
        JOIN Brand b ON i.brand_id = b.brand_id
        <where>
            i.deleted_date IS NULL
            <choose>
                <when test="cond.itemName != null and cond.itemName != ''">
                    AND MATCH(i.item_name) AGAINST(#{cond.itemName} IN NATURAL LANGUAGE MODE) > 0
                </when>
                <when test="(cond.itemName == null or cond.itemName == '') and cond.brandName != null and cond.brandName != ''">
                    AND MATCH(b.brand_name) AGAINST(#{cond.brandName} IN NATURAL LANGUAGE MODE) > 0
                </when>
            </choose>
        </where>
    </select>

    <select id="countItem" resultType="long" parameterType="map">
        SELECT COUNT(*)
        FROM Item i
        <where>
            i.deleted_date IS NULL
            <choose>
                <when test="cond.itemName != null and cond.itemName != ''">
                    AND MATCH(i.item_name) AGAINST(#{cond.itemName} IN NATURAL LANGUAGE MODE) > 0
                </when>
                <when test="(cond.itemName == null or cond.itemName == '') and cond.brandName != null and cond.brandName != ''">
                    AND i.brand_id IN (
                    SELECT b.brand_id FROM Brand b
                    WHERE MATCH(b.brand_name) AGAINST(#{cond.brandName} IN NATURAL LANGUAGE MODE) > 0
                    )
                </when>
            </choose>
        </where>
    </select>

</mapper>