<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="store.myproject.onlineshop.mapper.OrderMapper">

    <select id="findMyOrderIds" resultType="long">
        SELECT
        o.orders_id
        FROM
        orders o
        <where>
            o.deleted_date IS NULL
            AND o.customer_id = #{customerId}
            AND o.order_status IN ('ORDER', 'CANCEL')

            <choose>
                <when test="cond.brandName != null and cond.brandName != ''">
                    AND EXISTS (
                    SELECT 1
                    FROM order_item oi
                    JOIN item i ON oi.item_id = i.item_id
                    JOIN brand b ON i.brand_id = b.brand_id
                    WHERE oi.orders_id = o.orders_id
                    AND MATCH(b.brand_name) AGAINST(#{cond.brandName} IN NATURAL LANGUAGE MODE) > 0
                    )
                </when>
                <when test="cond.itemName != null and cond.itemName != ''">
                    AND EXISTS (
                    SELECT 1
                    FROM order_item oi
                    JOIN item i ON oi.item_id = i.item_id
                    WHERE oi.orders_id = o.orders_id
                    AND MATCH(i.item_name) AGAINST(#{cond.itemName} IN NATURAL LANGUAGE MODE) > 0
                    )
                </when>
            </choose>

            <if test="cond.fromDate != null and cond.toDate != null">
                AND o.created_date BETWEEN #{cond.fromDate} AND #{cond.toDate}
            </if>

            <if test="cond.merchantUid != null and cond.merchantUid != ''">
                AND o.merchant_uid &lt; #{cond.merchantUid}
            </if>
        </where>
        ORDER BY o.merchant_uid DESC
        LIMIT #{cond.sizePlusOne}

    </select>

    <select id="findMyOrders" resultType="store.myproject.onlineshop.dto.order.MyOrderFlatDto">
        SELECT
        o.merchant_uid,
        o.created_date,
        o.total_price,
        o.order_status,
        d.delivery_status,
        oi.order_count AS count,
        oi.order_price,
        i.item_uuid,
        i.item_name,
        i.thumbnail,
        b.brand_uuid,
        b.brand_name
        FROM orders o
        JOIN delivery d ON o.delivery_id = d.delivery_id
        JOIN order_item oi ON o.orders_id = oi.orders_id
        JOIN item i ON oi.item_id = i.item_id
        JOIN brand b ON i.brand_id = b.brand_id
        <where>
            <if test="orderIds != null and orderIds.size() > 0">
                o.orders_id IN
                <foreach collection="orderIds" item="orderId" open="(" separator="," close=")">
                    #{orderId}
                </foreach>
            </if>
            <if test="orderIds == null or orderIds.size() == 0">
                1=0
            </if>
        </where>
        ORDER BY o.merchant_uid DESC
    </select>


</mapper>