<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="store.myproject.onlineshop.mapper.RecipeMapper">

    <select id="findRecipeDtoByUuid" resultType="store.myproject.onlineshop.domain.recipe.dto.RecipeDto">
        SELECT
        r.recipe_uuid AS recipeUuid,
        r.recipe_title AS recipeTitle,
        r.recipe_description AS recipeDescription,
        r.recipe_cooking_time AS recipeCookingTime,
        r.recipe_servings AS recipeServings,
        c.nick_name AS recipeWriter,
        r.thumbnail_url AS thumbnailUrl
        FROM
        Recipe r
        JOIN RecipeMeta rm ON r.recipe_meta_id = rm.recipe_meta_id
        JOIN Customer c ON r.customer_id = c.customer_id
        <where>
            r.recipe_uuid = #{recipeUuid} AND r.deleted_date IS NULL
        </where>

    </select>

    <select id="findRecipeList" resultType="store.myproject.onlineshop.domain.recipe.dto.SimpleRecipeDto">
        SELECT
        r.recipe_uuid,
        r.recipe_title AS title,
        r.recipe_description,
        r.thumbnail_url AS thumbnail,
        c.nick_name AS writer,
        r.recipe_cooking_time,
        r.recipe_servings,
        rm.recipe_view,
        rm.review_cnt,
        rm.like_cnt
        FROM
        Recipe r
        JOIN Customer c ON r.customer_id = c.customer_id
        JOIN RecipeMeta rm ON r.recipe_meta_id = rm.recipe_meta_id
        <where>
            r.deleted_date IS NULL
            <if test="cond.servings != null and cond.servings != 0">
                AND r.recipe_servings = #{cond.servings}
            </if>

            <if test="cond.cookingTimeFrom != null and cond.cookingTimeFrom != 0 and cond.cookingTimeTo != null and cond.cookingTimeTo != 0">
                AND r.recipe_cooking_time BETWEEN #{cond.cookingTimeFrom} AND #{cond.cookingTimeTo}
            </if>
        </where>
    </select>

    <select id="findRecipeUseItem" resultType="store.myproject.onlineshop.domain.recipe.dto.SimpleRecipeDto">
        SELECT
        r.recipe_uuid,
        r.recipe_title AS title,
        r.recipe_description,
        r.thumbnail_url AS thumbnail,
        c.nick_name AS writer,
        r.recipe_cooking_time,
        r.recipe_servings,
        rm.recipe_view,
        rm.review_cnt,
        rm.like_cnt
        FROM
        Recipe r
        JOIN Customer c ON r.customer_id = c.customer_id
        JOIN RecipeMeta rm ON r.recipe_meta_id = rm.recipe_meta_id
        <where>
            r.deleted_date IS NULL
            <if test="itemId != null and itemId != ''">
                AND recipe_id IN (
                SELECT recipe_id FROM RecipeItem ri WHERE item_id = #{itemId}
                )
            </if>
        </where>
        ORDER BY rm.recipe_view DESC
    </select>

    <select id="findRecipeVer3" resultType="store.myproject.onlineshop.domain.recipe.dto.SimpleRecipeDto">
        SELECT
        r.recipe_uuid,
        r.recipe_title AS title,
        r.recipe_description,
        r.thumbnail_url AS thumbnail,
        c.nick_name AS writer,
        r.recipe_cooking_time,
        r.recipe_servings,
        rm.recipe_view,
        rm.review_cnt,
        rm.like_cnt
        FROM
        Recipe r
        JOIN RecipeMeta rm ON r.recipe_meta_id = rm.recipe_meta_id
        JOIN Customer c ON r.customer_id = c.customer_id
        <where>
            r.deleted_date IS NULL
            <if test="cond.nextCursor != null and cond.nextCursor != ''">
                AND r.recipe_uuid &lt; #{cond.nextCursor}
            </if>
        </where>
        ORDER BY r.created_date DESC
        LIMIT #{cond.sizePlusOne}
    </select>

</mapper>